@media screen and (min-width: 600px) {
  .menu {
    visibility: hidden;
  }
}
@media screen and (max-width: 600px) {
  .menu {
    visibility: visible;
    position: absolute;
  }
  .nav-items {
    visibility: hidden;
  }
  .home-links {
    padding-left: 60px;
    justify-content: center;
    align-items: center;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #112e42;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  overflow-x: hidden;
  font-size: 72%;
}
body header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background-color: #112e42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
body .logo {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

#sidebar {
  display: flex;
  opacity: 0;
  height: 100vw;
  width: 100vw;
  position: fixed;
  top: -400px; /* Initially off the screen */
  right: 0;
  background: #112e42;
  color: #fff;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
  font-size: 40px;
  font-weight: 600;
  z-index: 2; /* Ensure it's on top of other content */
}
#sidebar a {
  color: white;
  text-decoration: none;
}
#sidebar a:hover,
#sidebar a.active {
  color: #cbef43;
}

#menu-icon {
  cursor: pointer;
  scale: 2.8;
  position: fixed;
}

#menu-icon:hover {
  color: #cbef43;
}

#sidebar.open {
  top: 100px;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.home {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 5%;
}
.home .home-content {
  width: 600px;
}
.home .home-content h1 {
  font-size: 60px;
  font-weight: 700;
}
.home .home-content h3 {
  font-size: 32px;
  color: #00abf0;
}
.home .home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  color: white;
}
.home .btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.home .home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
}
.home .btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}
.home .btn-box a:nth-child(2):hover {
  color: #112e42;
}
.home .btn-box a:nth-child(2)::before {
  background: #00abf0;
}
.home .btn-box a::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #112e42;
  z-index: -1;
  transition: 0.5s;
}
.home .btn-box a:hover::before {
  width: 100%;
}
.home .btn-box a:hover {
  color: white;
}
.home .home-links {
  position: absolute;
  bottom: 4rem;
  width: 270px;
  display: flex;
  justify-content: space-between;
}
.home .home-links a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 50px;
  background: transparent;
  border: 0.2rem solid #112e42;
  border-radius: 1px;
  scale: 3;
  text-decoration: none;
  color: #93b7be;
}

.about-section {
  display: flex;
  height: 600px;
  width: 100%;
  padding: 2rem 7%;
  background-color: #112e42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lime;
}

.nav-items {
  width: 100vh;
  font-size: 30px;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  align-items: end;
  padding-left: 430px;
}
.nav-items a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.nav-items a:hover {
  color: white;
}/*# sourceMappingURL=style.css.map */