@media screen and (min-width: 600px){
    .menu{
        visibility: hidden;
    }
    
}

@media screen and (max-width: 599px){
    .menu{
        visibility: visible;
        position: absolute;
        
        

    }
    .nav-items{
        visibility: hidden;
    }
    .home-links{
        padding-left: 60px;
        justify-content: center;
        align-items: center;
        
    }
    .home{
        scale:0.8;
        
    }
    .home-content{
        
    }
    
}
@media screen and (max-width: 920px){
    #extraa{
        
        font-size: 16px;
        gap:20px;
        transition: 0.5s ease-in-out;
        
    }
}
