@media screen and (min-width: 600px){
    .menu{
        visibility: hidden;
    }
    .skills-content{
        padding-left:200px ;
        padding-right: 200px;
        justify-content: center;
    }
    
}

@media screen and (max-width: 599px){
    .menu{
        visibility: visible;
        position: absolute;
        
        

    }
    .nav-items{
        visibility: hidden;
    }
    .home-links{
        padding-left: 60px;
        justify-content: center;
        align-items: center;
        
    }
    .home{
        scale:0.8;
        
    }
    .skills-section{
        scale: 0.5;
        justify-content: center;
        align-items: center;
        height: 10%;
        
    }
    .projects-section{
        scale: 0.5;
        
    }
    .skills-content{
        justify-content: center;
    }
    
}
@media screen and (max-width: 920px){
    #extraa{
        
        font-size: 16px;
        gap:20px;
        transition: 0.5s ease-in-out;
        
    }
}

@keyframes tilt-in-left-1 {
    0% {
      transform: translateX(-100%) skewX(-30deg) rotateY(-30deg);
      opacity: 0;
    }
    100% {
      transform: translateX(0) skewX(0deg) rotateY(0deg);
      opacity: 1;
    }
  }
  
  .tilt-in-left-1 {
    animation: tilt-in-left-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  /*name animation*/
  @keyframes logoAnimation {
    0% { color: white; transform: scale(1); }
    50% { color: #112e42; transform: scale(1.2); }
    100% { color: #93b7be; transform: scale(1); }
  }
  /*end of logo animation*/