.projects-section{
  min-height: 100vh;
  padding: 2rem 7%;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

  .projects-header{
    display: flex;
    height: 200px;
    justify-content: center;
    font-size: 40px;
  }
  .tilt-in-left-1 {
    
    
    -webkit-animation: tilt-in-left-1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: tilt-in-left-1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

            img{
              height: 300px;
              width: 250px;
              
              
            }
.image-wrapper{
  display:flex;
  gap:30px;
  justify-content: center;
  align-items: center;
}
  }
  
    
  }


