.skills-section{
  height: 100vh;
  padding: 2rem 7%;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

  .skills-header{
    display: flex;
    height: 50px;
    justify-content: center;
    font-size: 40px;
  }
  .skills-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-gap: 40px;
    
    // padding: 1 rem 80px;
    // font-size: 68px
  }
  .skills-box{
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 300px;
    cursor: pointer;
    border: solid 4px black;
    
    
    
  i{
  scale:3;
  }
  h6{
    font-size: 30px;
  }
  p{
    text-align: center;
  }
}

}